<div class="minicart">
    <div class="minicart-title">
      <div>Your Cart - item</div>
      <button class="cart-cancel">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    {% if cart.item_count > 0 %}
      <form
        action="/cart"
        method="post"
        class="minicart-product-list">
        {% for item in cart.items %}
          <div class="minicart-product">
            <div class="minicart-product-image">
              <a href="{{ item.url | within: :collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </div>
            <div class="minicart-product-description">
              <div class="flex-direction-column">
                <div class="minicart-product-title">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                    <br>
                    ( {{ item.variant.title }} )
                  </a>
                </div>
                <div class="qtydiv">
                  <div class="qtybox">
                     <span class="btnqty qtyminus icon icon-minus">-</span>
                         <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input">
                     <span class="btnqty qtyplus icon icon-plus">+</span>
                  </div>
                  <div class="rmvbtn">
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    <i class="fa-regular fa-trash" style="color: #000000;"></i>
                    </a>
                  </div>
                </div>
                
                {% comment  %}  
                <div class="minicart-product-quantity">
                  
                  <button
                    id="plus-minus-btn"
                    class="product-quantity"
                    type="submit"
                    name="update"
                    onclick="decrementNum('updates[]')">-</button>
                  <input
                    type="number"
                    name="updates[]"
                    id="updates_{{ item.key }} "
                    name="quantity"
                    value="{{ item.quantity }}"
                    min="1"
                    class="product-quantity product-quantity-value">
                  <button
                    id="plus-minus-btn"
                    class="product-quantity"
                    type="submit"
                    name="update"
                    onclick="incrementNum('updates[]')">+</button>
                </div>
                {% endcomment %}
              </div>
              <div class="minicart-product-price">
                {{ item.price | money | replace: " ", "" }}
              </div>
            </div>
          </div>
        {% endfor %}
        <div></div>
      </form>

      <div class="minicart-note">
        <div>Add a note to your order</div>
        <textarea
          name="noteOrder"
          rows="2"
          cols="25"></textarea>
      </div>

      <div class="minicart-detail">
        <div class="minicart-detail-total">
          <strong>Subtotal</strong>
          <span class="cart__total-price">{{ cart.total_price | money }}</span>
        </div>
        <button
          class="button"
          type="submit"
          name="checkout">Checkout</button>
      </div>
    {% else %}
      <div style="text-align:center; margin:auto; padding-top: 30px;">Cart is empty</div>
    {% endif %}
    {%- comment -%} <input type="submit" name="checkout" value="Checkout"> {%- endcomment -%}
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script>
$('.qtybox .btnqty').on('click', function(){
  var qty = parseInt($(this).parent('.qtybox').find('.quantity-input').val());
  if($(this).hasClass('qtyplus')) {
    qty++;
  }else {
    if(qty > 1) {
      qty--;
    }
  }
  qty = (isNaN(qty))?1:qty;
  $(this).parent('.qtybox').find('.quantity-input').val(qty);
});
</script>