<!doctype html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="icon" type="image/x-icon" href="{{ 'logo.jpg' | asset_img_url }}" >
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  <script src=" https://cdn.jsdelivr.net/npm/url-parse@1.5.10/dist/url-parse.min.js "></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
{% capture cur %}{% include "booster-currency" %}{% endcapture %}{% unless cur contains "Liquid error" %}{{ cur }}{% endunless %}

<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
</script>
{% include 'bucks-cc' %}
            </head>
{% render 'bucks-cc' %}
<body>
  <main role="main">
    <a href="/" style="width: 200px; height: 117px; display: block; position: absolute; top: 8px; left: 16px; z-index: 1;">
      <img class="product-single__logo" src="{{ 'logo.jpg' | asset_url }}">
      </a>
    <div id="overlay">
      <div class="navbar-mobile">
        <button class="hamburger-cancel">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <nav role="navigation">
          {%- for link in linklists.main-menu.links -%}
            <div class="widget-left-bar">
              <a {% comment  %} href="{{ link.url }}" {% endcomment %} {% if link.active %}aria-current="page"{% endif %}>
                <h2>{{ link.title }}</h2>
              </a>
              {%- if link.links != blank -%}
                <ul class="product-list">
                  {%- for child_link in link.links -%}
                    <li>
                      <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                      </a>
                      {%- if child_link.links != blank -%}
                        <ul>
                          {%- for grandchild_link in child_link.links -%}
                            <li>
                              <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
          
    
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endfor -%}
              <a href="https://theblotter-room.com/pages/about">About</a> <a>•</a><a href="https://theblotter-room.com/pages/privacy-policy">Privacy & Policy</a> <a>•</a> <a href="https://theblotter-room.com/pages/terms-conditions">Terms & Conditions</a> <a>•</a><a href="https://theblotter-room.com/pages/contact">Contact</a>
        </nav>
        <div class="overlay"></div>
      </div>
    </div>
    {{ content_for_layout }}
    {% render 'minicart' %}
  </main>
  {{ 'script.js' | asset_url | script_tag }}
  {{ 'shopify-money.js' | asset_url | script_tag }}
  
  {% render 'ajaxify-cart' %}

{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}{% include 'mlveda-flag' %}{% include 'mlveda-currencies-style' %}
</body>
</html>