<img class="product-single__logo" src="{{ 'logo2.jpg' | asset_img_url: '200x' }}">

{% assign collection = collections['all'] %}
{%- paginate collection.products by 5 -%}
<div class="gap-main-border">
  <div class="main-border">
    <div class="top-menu">
      <div class="top-menu-right">
        <h1 class="title">{{ collection.title }}
        </h1>
      </div>
      <div class="top-menu-left">
        <div class="top-menu-content">
          <a href="{{ paginate.previous.url }}">
            <div class="button">BACK</div>
          </a>
          <a href="{{ paginate.next.url }}">
            <div class="button">NEXT</div>
          </a>
        </div>
        <div class="top-menu-content">
          <div class="button">
            <a>CART</a>
          </div>
          <select id="currency" class="button">
            <option value="IDR">IDR</option>
            <option value="USD">USD</option>
          </select>
        </div>
      </div>
    </div>
    <div class="bar">
      <div class="left-bar">
          <nav role="navigation">
              {%- for link in linklists.main-menu.links -%}
                <div class="widget-left-bar">
                  <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
                    <h2>{{ link.title }}</h2>
                  </a>
                  {%- if link.links != blank -%}
                    <ul>
                      {%- for child_link in link.links -%}
                        <li>
                          <a{% if child_link.active %}aria-current="page"{% endif %}>
                            {{ child_link.title }}
                          </a>
                          {%- if child_link.links != blank -%}
                            <ul>
                              {%- for grandchild_link in child_link.links -%}
                                <li>
                                  <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                    {{ grandchild_link.title }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              {%- endfor -%}
          </nav>
      </div>
      <div class="right-bar">
          <ul>
            {% for product in collection.products %}
              <li class="border">
                <a href="{{ product.url }}">
                  <img src="{{ product.featured_image | img_url: '180x', crop: 'center' }}">
                  <p class="text-product">
                    <br>
                    {{ product.title }}
                    <br>
                    {% if available %}
                      {% if compare_at_price > price %}
                        <s class="price-item price-item--regular" data-regular-price>
                        {{ compare_at_price | money }}
                        </s>
                      {% else %}
                        <span class="price-item price-item--regular" data-regular-price>
                        {% unless product.price_min == product.price_max  %}From{% endunless %} {{ money_price }}
                        </span>
                      {% endif %}
                      {% else %}
                        <span class="price-item price-item--regular" data-regular-price>
                        {{ 'products.product.sold_out' | t }}
                      </span>
                    {% endif %}
                    {%- comment -%} {{ product.price | money }}
                    {% if product.available != true %}
                      <br>(SOLD OUT)
                    {% endif %} {%- endcomment -%}
                  </p>
                </a>
              </li>
            {% endfor %}
          </ul>
      </div>
    </div>
    <div class="pagination">
      <div class="page-number">{{ paginate | default_pagination: next: ' ', previous: ' ' }}</div>
    </div>
  </div>
</div>
{%- endpaginate -%}