{% assign collection = collections['all'] %}
{% assign product_per_page = 1 %}
{% assign available_product_per_page = 1 %}
{% for product in collection.products %}
  {% assign product_per_page = product_per_page | plus: 1 %}
  {% if product.available %}
    {% assign available_product_per_page = available_product_per_page | plus: 1 %}
    {% if available_product_per_page == 8 %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}
{% paginate collection.products by product_per_page | sort: 'created_at'%}

<div class="gap-main-border">
  <div class="main-border">
    <div class="top-menu">
      <div class="top-menu-right">
        <h1 class="title">{{ collection.title }}</h1>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="top-menu-left">
        <div class="top-menu-content">
          <a href="{{ paginate.previous.url }}">
            <div class="button">BACK</div>
          </a>
          <a href="{{ paginate.next.url }}">
            <div class="button">NEXT</div>
          </a>
        </div>
        <div class="top-menu-content">
          <div id="cartbtn" class="button">
            <a>CART</a>
          </div>
          <div class="buckscc-currency-box button"></div>
        </div>
      </div>
    </div>
    <div class="bar">
      <div class="left-bar">
        <nav role="navigation">
          {% for link in linklists.main-menu.links %}
            <div class="widget-left-bar">
              <a href="/" {% if link.active %}aria-current="page"{% endif %}>
                <h2>{{ link.title }}</h2>
              </a>
              {% if link.links != blank %}
                <ul class="product-list">
                  {% for child_link in link.links %}
                    <li>
                      <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                      </a>
                      {% if child_link.links != blank %}
                        <ul>
                          {% for grandchild_link in child_link.links %}
                            <li>
                              <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </nav>
      </div>
      <div class="main-right-bar">
        <ul>
          {% assign displayed_products_top = 0 %}
          {% assign displayed_products_bottom = 0 %}
          {% assign total_products_count = collection.all_products_count %}

          {% for product in collection.products | sort: 'created_at' %}
            {% assign trimmed_title = product.title | truncate: 38, '' %}

            {% if product.available %}
              {% if displayed_products_top < 4 %}
                <!-- Display products at the top -->
                <li class="border">
                  <!-- Product content -->
                  <a class="product-card" href="{{ product.url }}">
                    <img class="product-image" src="{{ product.featured_image | img_url: 'large', crop: 'center' }}">
                    <p class="text-product">
                      {{ trimmed_title }}
                      <br>
                      {% if product.compare_at_price > product.price %}
                        <span class="compare-price">{{ product.compare_at_price | money }}</span>
                        <br>
                        <span class="original-price">{{ product.price | money }}</span>
                      {% else %}
                        <span class="original-price">{{ product.price | money }}</span>
                      {% endif %}
                    </p>
                  </a>
                  {% comment %}
                    <img class="offer-badge" src="{{ 'sale.png' | asset_url }}">
                  {% endcomment %}
                </li>
                {% assign displayed_products_top = displayed_products_top | plus: 1 %}
              {% else %}
                {% if displayed_products_bottom < 4 %}
                  <!-- Display products at the bottom -->
                  <li class="border border-product-5">
                    <!-- Product content -->
                    <a class="product-card" href="{{ product.url }}">
                      <img class="product-image" src="{{ product.featured_image | img_url: 'large', crop: 'center' }}">
                      <p class="text-product">
                        {{ trimmed_title }}
                        <br>
                        {% if product.compare_at_price > product.price %}
                          <span class="compare-price">{{ product.compare_at_price | money }}</span>
                          <br>
                          <span class="original-price">{{ product.price | money }}</span>
                        {% else %}
                          <span class="original-price">{{ product.price | money }}</span>
                        {% endif %}
                      </p>
                    </a>
                    {% comment %}
                      <img class="offer-badge" src="{{ 'sale.png' | asset_url }}">
                    {% endcomment %}
                  </li>
                  {% assign displayed_products_bottom = displayed_products_bottom | plus: 1 %}
                {% endif %}
              {% endif %}
            {% endif %}

            {% if displayed_products_top >= 4 and displayed_products_bottom >= 4 %}
              {% break %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="flex bottom-content">
      <div class="about" align="right">
        <a href="https://theblotter-room.com/pages/about">About</a>
        <a>•</a>
        <a href="https://theblotter-room.com/pages/privacy-policy">Privacy & Policy</a>
        <a>•</a>
        <a href="https://theblotter-room.com/pages/terms-condition">Terms & Conditions</a>
        <a>•</a>
        <a href="https://theblotter-room.com/pages/contact">Contact</a>
      </div>
      <div class="pagination">
        <div class="page-number">{{ paginate | default_pagination: next: ' ', previous: ' ' }}</div>
      </div>
    </div>
  </div>
</div>

{% endpaginate %}
