
{% assign collection = collections.all %}

<script>
var collectionProducts = {{ collection.products | json | sort: "published_at" | reverse }};
var dataCollectionProducts = [];

// get the available products
for (let i = 0; i < collectionProducts.length; i++) {
  if (collectionProducts[i].available == true) {
    dataCollectionProducts.push(collectionProducts[i]);
  }
}

// sorting of available products by created at
dataCollectionProducts.sort(function(a, b) {
  if (a.created_at < b.created_at) {
    return -1;
  } else if (a.created_at > b.created_at) {
    return 1;
  } else {
    return 0;
  }
});

let pagePaginate = 0;

// back button
$(document).on('click', '#back-page', function() {
  console.log("back button clicked");
  if (pagePaginate == 0) {
    console.log("page number 1 mtfck");
  }
  if (pagePaginate >= 1) {
    pagePaginate -= pagePaginate;
    console.log("page number -1 mtfck");
  }
});

// next button
$(document).on('click', '#next-page', function() {
  if (dataCollectionProducts.length / 8 <= pagePaginate * 8) {
    console.log("next page is undefined mtfck");
    return;
  }
  pagePaginate += pagePaginate;
  console.log("next button clicked");
  console.log("page number +1 mtfck");
});

document.addEventListener('DOMContentLoaded', function() {
  var productsList = document.getElementById('products-list');
  var productListItems = [];
  var shopLink = "https://adamjatimstore.myshopify.com/";

  // Preload the product list items
  for (var i = 0; i < dataCollectionProducts.length; i++) {
    var listItem = document.createElement('li');
    listItem.classList.add('border');

    var productLink = document.createElement('a');
    productLink.classList.add('product-card');
    productLink.href = shopLink + dataCollectionProducts[i].handle;

    var productImage = document.createElement('img');
    productImage.classList.add('product-image');
    productImage.src = dataCollectionProducts[i].featured_image;

    var productText = document.createElement('p');
    productText.classList.add('text-product');
    productText.innerHTML = dataCollectionProducts[i].title.substr(0, 38) + '<br>';

    var priceSpan = document.createElement('span');
    priceSpan.classList.add('original-price');
    priceSpan.innerHTML = '<br>';

    var childPriceSpan = document.createElement('span');
    childPriceSpan.classList.add('money')
    childPriceSpan.innerHTML = dataCollectionProducts[i].price / 100; // for rounded 2 zero after coma

    var comparePriceSpan = document.createElement('span');
    comparePriceSpan.classList.add('compare-price');

    var childComparePriceSpan = document.createElement('span');
    childComparePriceSpan.classList.add('money');

    if (dataCollectionProducts[i].compare_at_price > dataCollectionProducts[i].price) {
      childComparePriceSpan.innerHTML = dataCollectionProducts[i].compare_at_price/100; // for rounded 2 zero after coma
      productText.appendChild(comparePriceSpan);
      comparePriceSpan.appendChild(childComparePriceSpan);

    }

    priceSpan.appendChild(childPriceSpan);
    productText.appendChild(priceSpan);
    productLink.appendChild(productImage);
    productLink.appendChild(productText);
    listItem.appendChild(productLink);

    productListItems.push(listItem);
  }

  // Append the preloaded product list items to #products-list
  for (var j = 0; j < productListItems.length; j++) {
    productsList.appendChild(productListItems[j]);
  }
});
</script>

<div class="gap-main-border">
  <div class="main-border">
    <div class="top-menu">
      <div class="top-menu-right">
        <h1 class="title">{{ collection.title }}</h1>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="top-menu-left">
        <div class="top-menu-content">
          <a id="back-page">
            <div class="button">BACK</div>
          </a>
          <a id="next-page">
            <div class="button">NEXT</div>
          </a>
        </div>
        <div class="top-menu-content">
          <div id="cartbtn" class="button">
            <a>CART</a>
          </div>
          <div class="buckscc-currency-box button"></div>
        </div>
      </div>
    </div>
    <div class="bar">
      <div class="left-bar">
        <nav role="navigation">
          {% for link in linklists.main-menu.links %}
            <div class="widget-left-bar">
              <a href="/" {% if link.active %}aria-current="page"{% endif %}>
                <h2>{{ link.title }}</h2>
              </a>
              {% if link.links != blank %}
                <ul class="product-list">
                  {% for child_link in link.links %}
                    <li>
                      <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                      </a>
                      {% if child_link.links != blank %}
                        <ul>
                          {% for grandchild_link in child_link.links %}
                            <li>
                              <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </nav>
      </div>
      <div class="main-right-bar">
        <ul id="products-list">
          
        </ul>
      </div>
    </div>
    <div class="flex bottom-content">
      <div class="about" align="right">
        <a href="https://theblotter-room.com/pages/about">About</a>
        <a>•</a>
        <a href="https://theblotter-room.com/pages/privacy-policy">Privacy & Policy</a>
        <a>•</a>
        <a href="https://theblotter-room.com/pages/terms-condition">Terms & Conditions</a>
        <a>•</a>
        <a href="https://theblotter-room.com/pages/contact">Contact</a>
      </div>
      <div class="pagination">
        <div class="page-number">{% comment %}
          {{ paginate | default_pagination: next: ' ', previous: ' ' }}
        {% endcomment %}</div>
      </div>
    </div>
  </div>
</div>

