{% assign collection = collections['all'] %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="gap-main-border">
  <div class="main-border">
    <div class="top-menu">
      <div class="top-menu-right">
        <h1 class="title">{{ collection.title }}</h1>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="top-menu-left">
        <div class="top-menu-content">
          <a href="javascript&colon;history.back()">
            <div class="button">BACK</div>
          </a>
          <a href="{{ paginate.next.url }}">
            <div class="button">NEXT</div>
          </a>
        </div>
        <div class="top-menu-content">
          <div id="cartbtn" class="button">
            <a>CART</a>
          </div>
          <div class="button buckscc-currency-box" id="button-currency">
          </div>
        </div>
      </div>
    </div>
    <div class="bar">
      <div class="left-bar">
        <nav role="navigation">
          {%- for link in linklists.main-menu.links -%}
            <div class="widget-left-bar">
              <a href="/" {% comment  %} href="{{ link.url }}" {% endcomment %} {% if link.active %}aria-current="page"{% endif %}>
                <h2>{{ link.title }}</h2>
              </a>
              {%- if link.links != blank -%}
                <ul>
                  {%- for child_link in link.links -%}
                    <li>
                      <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                      </a>
                      {%- if child_link.links != blank -%}
                        <ul>
                          {%- for grandchild_link in child_link.links -%}
                            <li>
                              <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </nav>
      </div>
      <div class="right-bar">
        <div class="mobile-product-page">
          <div class="sub-left-bar">
            <div class="gap-1">
            {% if product.selected_or_first_available_variant.featured_image %}
              {%  assign featured = product.selected_or_first_available_variant.featured_image %}
              <img id="product-image" src="{{ featured | image_url }}"/>
            {% else %}
              {%  assign featured = product.featured_image %}
              <img id="product-image" src="{{ featured | image_url }}"/>
            {% endif %}
              
              <ul class="product-image-thumbs">
                {%  for image in product.images %}  
                  <li class="{% if image == featured %}selected{% endif %}"><img src="{{ image | image_url: master }}"/></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="sub-right-bar">
            <div class="gap-1">
              <h1>{{ product.title }}</h1>
              <div class="product-prices" id="product-prices">
                {% comment  %}
                  <p class="product-compare {% if product.selected_or_first_available_variant.compare_at_price <= product.selected_or_first_available_variant.price %} hide {% endif %} ">
                    {{ product.selected_or_first_available_variant.compare_at_price | money }}
                  </p>
                {% endcomment %}
                <p class="product-price">
                  {{ product.selected_or_first_available_variant.price | money }}
                </p>
              </div>
              <div>{{ product.description }}</div>

              {% form 'product', product %}
                <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

                {% if product.variants.size > 1 %}

                  <div class="product-option">
                    {% for option in product.options_with_values %}
                      <fieldset style="display: block ruby; border: none;">
                        {% comment  %} <legend> {{ option.name }} </legend> {% endcomment %}
                        {% for value in option.values %}
                          <div class="product-variant">
                            <input
                              {% if option.selected_value == value %}checked="checked"{% endif %}
                              type="radio"
                              name="{{ option.name }}"
                              value="{{ value }}"
                              id="{{ option.name | handleize}}-{{ value | handleize}}"
                              {% if variant.inventory_quantity == 0 %}disabled{% endif %}>
                            <label for="{{ option.name | handleize}}-{{ value | handleize}}" {% if variant.inventory_quantity == 0 %}class="out-of-stock"{% endif %}>
                              {{ value }}
                            </label>
                          </div>
                        {% endfor %}
                      </fieldset>
                    {% endfor %}
                  </div>

                {% endif %}

                <div class="hide">
                  <label for="quantity">Quantity</label>
                  <input
                    id="quantity"
                    name="quantity"
                    value="1"
                    class="product-quantity">
                </div>

                <button {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %} type="submit" id="AddToCart">
                  {% if product.selected_or_first_available_variant.available %}
                    Add to Cart
                  {% else %}
                    Out of Stock
                  {% endif %}
                </button>
              {% endform %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var product = {{ product | json }};

  // variant product handler
  document.querySelectorAll('.product-option input[type="radio"]').forEach(radio => {
    radio.addEventListener('change', () => {

      // find selection option
      var selectedOptions = [];

      document.querySelectorAll('.product-option input[type="radio"]:checked').forEach(radio => {
        selectedOptions.push(radio.value);
      })

      // finding the matched variant
      var matchedVariant = product.variants.find(variant => {
        var pass = true;

        for (var i = 0; i < selectedOptions.length; i++) {
          if (selectedOptions.indexOf(variant.options[i]) === -1) {
            pass = false;
            break;
          }
        }
        return pass;
      })
      
      // change product form variant id
      document.querySelector('#product-id').value = matchedVariant.id;

      // change url for variant
      var url = new URLParse(window.location.href, true);
      url.query.variant = matchedVariant.id;
      window.history.replaceState(null, null, url.toString());

      // change price
      //document.querySelector('.product-price').textContent = formatMoney(matchedVariant.price, "{{ shop.money_format }}" );
      
      //location.reload();
      //document.querySelector('.product-compare').textContent = formatMoney(matchedVariant.compare_at_price, "{{ shop.money_format }}" );

      //matchedVariant.compare_at_price > matchedVariant.price ? 
      //  document.querySelector('.product-compare').classList.remove('hide') : 
      //  document.querySelector('.product-compare').classList.add('hide');

      // change button
      var add = document.querySelector("#AddToCart")

      if (matchedVariant.available){
        add.textContent = "Add to Cart"
        add.disabled = false
      } else {
        add.textContent = "Out of Stock"
        add.disabled = true
      }
    })
  })
  
  // image product handler
  document.querySelectorAll('.product-image-thumbs li').forEach(li => {
    li.addEventListener('click', () => {
      document.querySelector('.product-image-thumbs li.selected').classList.remove('selected')
      li.classList.add('selected')

      document.querySelector('#product-image').setAttribute('src', li.querySelector('img').getAttribute('src'))
    })
  })

  // change url to /cart page
  document.addEventListener('DOMContentLoaded', function() {
    var addToCartButton = document.querySelector('#AddToCart');
    addToCartButton.addEventListener('click', function(event) {
      window.onload = function() {
        // Delay the reload for a second
        setTimeout(function() {
          minicart.classList.toggle('is-active');
          //location.reload();
        }, 0);
      };
      
    });
  });

</script>