{% assign collection = collections['all'] %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="gap-main-border">
  <div class="main-border">
    <div class="top-menu">
      <div class="top-menu-right">
        <h1 class="title">{{ collection.title }}</h1>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="top-menu-left">
        <div class="top-menu-content">
          <a href="javascript&colon;history.back()">
            <div class="button">BACK</div>
          </a>
          <a href="{{ paginate.next.url }}">
            <div class="button">NEXT</div>
          </a>
        </div>
        <div class="top-menu-content">
          <div id="cart" class="button">
            <a>CART</a>
          </div>
          <div class="buckscc-currency-box button"></div>
        </div>
      </div>
    </div>
    <div class="bar">
      <div class="left-bar">
        <nav role="navigation">
          {%- for link in linklists.main-menu.links -%}
            <div class="widget-left-bar">
              <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
                <h2>{{ link.title }}</h2>
              </a>
              {%- if link.links != blank -%}
                <ul>
                  {%- for child_link in link.links -%}
                    <li>
                      <a {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                      </a>
                      {%- if child_link.links != blank -%}
                        <ul>
                          {%- for grandchild_link in child_link.links -%}
                            <li>
                              <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </nav>
      </div>
      <div class="right-bar">
        <div class="mobile-product-page">
          <div class="sub-left-bar">
            <div class="gap-1">
              <img
                src="{{ featured_image | img_url: 'grande' }}"
                alt="{{ featured_image.alt | escape }}"
                id="ProductPhotoImg">
              {% for image in product.images %}
                <a href="{{ image.src | img_url: 'grande' }}">
                  <img
                    src="{{ image.src | img_url: 'compact' }}"
                    alt="{{ image.alt | escape }}"
                    id="SubProductPhotoImg">
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="sub-right-bar">
            <div class="gap-1">
              <h1>{{ product.title }}</h1>
              <h1>{{ current_variant.price | money }}</h1>
              <div>{{ product.description }}</div>
              
              <form
                action="/cart/add"
                method="post"
                id="add-product-form">
                <div class="product-option">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <div class="product-variant">
                        <input
                    {% else %}
                      <div class="product-variant out-of-stock">
                        <input
                          disabled="disabled"
                    {% endif %}
                          {% if product.selected_or_first_available_variant.id == variant.id %}
                          checked="checked"
                          {% endif %}
                          type="radio"
                          id="variant_{{ variant.id }}"
                          name="id"
                          value="{{ variant.id }}">
                          
                          <label for="variant_{{ variant.id }}">{{ variant.title }}</label>
                      </div>
                      <br> 
                  {% endfor %}
                </div>
                <input
                  id="AddToCart"
                  type="submit"
                  value="Add to Cart">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe name="switch-page" style="display: none;"></iframe>

<script>
  var product = {{ product | json }};
  document.querySelectorAll('.product-variant input[type="radio"]').forEach(radio => {
    radio.addEventListener('change', () => {
      var selectVariants = [];

      document.querySelectorAll('.product-variant input[type="radio"]:checked').forEach(radio => {
        selectVariants.push(radio.value);
      });

      var matchedVariant = product.variants.find(variant => {
        for(var i = 0; i < selectVariants.length; i++) {
          var pass = true;
          if(selectVariants.indexOf(variant.options[i]) === -1){
            pass = false;
            break;
          }
        }
        return pass;
      })

      console.log(matchedVariants);
    });
  });
</script>